<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} - TsApi 应用</title>
  <script defer src="/static/js/alpine.min.js"></script>
  {{each .Scripts as .Script}}
    <script src="{{ .Script }}"></script>
  {{/each}}
  <link rel="stylesheet" href="/static/css/tailwind.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
  {{each .Styles as .Style}}
    <link rel="stylesheet" href="{{ .Style }}">
  {{/each}}
</head>
<body class="bg-gray-50 font-sans text-gray-800 dark:bg-gray-900 dark:text-gray-200">
  {{ .Layout }}
</body>
</html> 